linters:
  enable:
    - errcheck
    - gosimple
    - govet
    - ineffassign
    - staticcheck
    - unused
    - bodyclose
    - gofmt

linters-settings:
  errcheck:
    check-blank: true

issues:
  exclude-dirs:
    - vendor
